body {
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container {
    width: 8%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 2em;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    padding: 10%;
    cursor: default;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#image{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#image > img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#question, #post_username, #post_answer, #postgame_answer {
    background-color: #FFFFFF;
    color: #666666;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    cursor: default;
}
#postgame_answer {
    padding: none;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #666666;
    border: none;
    width: 500px;
    text-align: center;
}

.answer>input[type="text"] {
    font-family: 'Roboto', sans-serif;
}

.list_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Partie postgame */
.hidden, #scores.hidden, #bonuses.hidden {
    display: none;
}

#post_button.valid {
    background-color: #00FF00;
    color: #FFFFFF;
}
#post_button.invalid {
    background-color: #FF0000;
    color: #FFFFFF;
}

#next_button {
    background-color: #636363;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 2%;
}
#post_button {
    margin-right: 2%;
}

/* Partie Bonus et Score*/

#bonuses, #scores {
    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;
    width: 60%;
    padding: 2%;

    color: #FFFFFF;

    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#bonuses > #bonus_title, #scores > #score_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
#bonuses > #bonus_list, #scores > #score_list {
    width: 80%;
}
#bonuses > #bonus_list > .bonus_elem, #scores > #score_list > .score_elem {
    width: 100%;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    margin-bottom: 2%;
}
#bonuses > #bonus_list > .bonus_elem:hover > .bonus_elem_pseudo, #scores > #score_list > .score_elem:hover > .score_elem_pseudo {
    text-decoration: underline;
}
#bonuses > #bonus_list > .bonus_elem *, #scores > #score_list > .score_elem * {
    margin-left: 3%;
    margin-right: 3%;
}

#bonuses > #bonus_list > .bonus_elem > .bonus_elem_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    min-width: 60px;
    background-color: rgba(0, 0, 0, 0.1);
}
#bonuses > #bonus_list > .bonus_elem > .bonus_elem_btn * {
    margin-left: 1%;
    margin-right: 1%;
}
#bonuses > #bonus_list > .bonus_elem > .bonus_elem_btn *:hover {
    background-color: #636363;
}
#bonuses > #bonus_list > .bonus_elem > .bonus_elem_btn *:active {
    background-color: #FFFFFF;
    color: #333333;
}

#bonuses > #bonus_btn, #scores > #score_btn {
    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;

    padding: 2%;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    
    background-color: #FFFFFF;
    color: #333333;
}
#bonuses > #bonus_btn:hover, #scores > #score_btn:hover {
    background-color: #636363;
    border-color: #636363;
    color: #333333;
}

#bonuses > #bonus_btn:active, #scores > #score_btn:active {
    background-color: #333333;
    color: #FFFFFF;
}

/* Partie gestion du responsive */