:root {
  --color1: #000000;
  --color2: #b7b7b7;
  --color2-5: #c4c4c4;
  --color3: #f5f5f5;
  --green: #45a017;
  --green2: #5cbf2a;

  --red: #d32f2f;
  --red2: #f44336;
}

body {
  height: 100vh;

  background-color: var(--color3);

  font-family: "Roboto";
  color: var(--color1);

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#back-to-menu {
  position: absolute;

  top: 5%;
  left: 5%;

  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;

  cursor: pointer;
}
#back-to-menu:hover {
  transform: translateX(-10%);
}

#back-to-menu > span {
  font-size: 3vh;
}
#back-to-menu:active > span {
  text-decoration: underline;
}

/* Affichage de la page de connexion */

#connection {
  box-shadow: 0px 0px 10px var(--color1);
  border-radius: 20px;

  padding: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

#connection > h1 {
  text-transform: uppercase;
}

#selection-button {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 400px;

  font-size: 100%;

  padding: 3%;

  position: relative;

  background-color: white;
  border-radius: 10px;
}

#login,
#signin {
  width: 50%;
  text-align: center;

  z-index: 3;

  cursor: pointer;
}
#selected-button {
  width: 50%;
  height: 100%;

  position: absolute;

  background-color: var(--color2);
  border-radius: 10px;

  transition: 0.3s;
}
.left {
  left: 0%;
}
.right {
  left: 50%;
}

input {
  border: none;
  outline: none;
}
input[type="submit"] {
  color: var(--color3);
  font-weight: bold;

  padding: 1%;
  background-color: var(--green);
  border-radius: 10px;

  font-size: 20px;

  transition: transform 0.2s;
}
input[type="submit"]:hover {
  background-color: var(--green2);
}
input[type="submit"]:active {
  transform: scale(0.7);
}

#connection > #form-container {
  width: 70vh;
  height: 60vh;

  position: relative;
}

@media (max-width: 768px) {
  #connection > #form-container {
    width: 35vh;
    height: 50vh;
  }
}

#connection > #form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 100%;

  position: absolute;

  transition: 0.3s;
  z-index: 2;
}

.hide-left {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}
.hide-right {
  transform: translateX(100%);
  opacity: 0;
  z-index: 0;
}

.question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
}
.question > input[type="text"],
.question > input[type="email"],
.question > input[type="password"] {
  background-color: var(--color2);
  border-radius: 5px;

  width: 90%;

  font-size: 15px;
  font-family: "Roboto";

  padding: 3%;

  transition: 0.3s;
}
.question > input[type="text"]:focus,
.question > input[type="email"]:focus,
.question > input[type="password"]:focus {
  background-color: white;
}
.question > input[type="text"] + label,
.question > input[type="email"] + label,
.question > input[type="password"] + label {
  position: absolute;
  font-size: 100%;

  top: 25%;
  left: 10%;
  transition: 0.3s;
}
.question > input[type="text"]:focus + label,
.question > input[type="email"]:focus + label,
.question > input[type="password"]:focus + label,
.question > input[type="text"] + label.stay-up,
.question > input[type="email"] + label.stay-up,
.question > input[type="password"] + label.stay-up {
  scale: 0.8;
  top: -20%;
  left: 5%;
}

/* Affichage du profil */

#form-modify {
  display: flex;

  width: 80%;
}

#show-profil {
  font-weight: bold;
  box-shadow: 0 0 10px var(--color1);
  padding: 2% 4% 2% 4%;

  border-radius: 20px;

  display: flex;
  flex-direction: column;

  width: 100%;
}
#show-profil > p > span {
  font-weight: normal;
}

#account-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
#account-buttons > div {
  border-radius: 10px;

  padding: 3%;
  margin: 0 2% 0 2%;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
}

@media (max-width: 650px) {
  #account-buttons > div {
    padding: 2%;
    font-size: 17px;

    margin-top: 3%;
  }

  #form-modify {
    width: 90%;
  }
}

#modify-account {
  border: solid 2px var(--color2);
}
#modify-account:hover {
  color: var(--color3);
  background-color: var(--color2);
}
#modify-account:active {
  color: var(--color3);
  background-color: var(--color2-5);
  border: solid 2px var(--color2-5);
}

#disconnect,
#remove {
  border: solid 2px var(--red);
}
#disconnect:hover,
#remove:hover {
  color: var(--color3);
  background-color: var(--red);
}
#disconnect:active,
#remove:active {
  color: var(--color3);
  background-color: var(--red2);
  border: solid 2px var(--red2);
}

p > span + input[type="text"],
p > input[type="password"] {
  background-color: var(--color2);
  padding: 1%;
  border-radius: 5px;

  width: 50%;
}
p > span + input[type="text"]:focus,
p > input[type="password"]:focus {
  background-color: white;
}

[disabled] {
  display: none;
}
