:root {
  --color1: #333333;
  --color1-5: #666666;
  --color2: #ffffff;
  --color2-5: #cccccc;

  --green: #45a017;
  --green2: #5cbf2a;

  --red: #d32f2f;
  --red2: #f44336;
}

body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Roboto";

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  position: relative;
}

#back-to-menu {
  position: absolute;
  z-index: 10;

  top: 3%;
  left: 3%;

  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--red);

  padding: 1%;
  border-radius: 10px;
  background-color: var(--color2);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;

  cursor: pointer;
}
#back-to-menu:hover {
  transform: translateX(-10%);
  color: var(--color2);
  background-color: var(--red);
}
#back-to-menu:active {
  background-color: var(--red2);
}

@media (max-width: 850px) {
  body {
    flex-direction: column;
  }
}

body > div#players,
body > form {
  background-color: var(--color2);
  color: var(--color1);

  display: flex;
  flex-direction: column;

  padding: 3%;
  margin: 1%;
  border-radius: 20px;

  transition: transform 0.3s;
}

@media (hover: hover) {
  body > div#players:hover,
  body > form:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 10px var(--color2-5);
  }
}

body > div#players > h1,
body > form > h1 {
  text-align: center;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

/* Partie de liste des joueurs */

#list_players {
  border: solid 2px var(--color1-5);
  border-radius: 10px;
  padding: 3%;

  overflow: scroll;
  scrollbar-width: none;
  height: 80vh;
}
@media (max-width: 850px) {
  #list_players {
    height: 35vh;
  }
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player > .player_title {
  text-align: center;
  margin: 6% 3% 6% 3%;

  overflow: scroll;
  scrollbar-width: none;

  font-weight: bold;
}
.player:hover > .player_title {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .player > .player_title {
    width: 15vh;
  }
}
@media (min-width: 600px) {
  .player > .player_title {
    width: 40vh;
  }
}

.player > i,
.player > .player_level {
  width: 5vh;
  text-align: center;
  margin: 0;
}

/* Partie de la liste des paramètre */

#code-party {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  font-weight: bold;
}
#code-party * {
  margin: 2%;
}
#code-party > #show-code-party {
  filter: blur(5px);

  transition: 0.2s;
}
#code-party > #show-code-party:hover {
  filter: blur(0);
}
#code-party > #copy-code-party {
  transition: transform 0.2s;
}
#code-party > #copy-code-party:hover {
  transform: scale(1.1);
}
#code-party > #copy-code-party:active {
  color: var(--color2);
  filter: drop-shadow(0 0 5px var(--color1));
}

#list-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#list-time:has(:hover) :not(:hover) {
  scale: 0.8;
  filter: blur(1px);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  border: solid 2px var(--color1);
  border-radius: 10px;
  padding: 2%;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}
input[type="radio"]:checked + label {
  background-color: var(--color1);
  color: var(--color2);
}

#tag-selection {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 30vh;
}
#searchBar,
input[type="number"] {
  border: solid 2px var(--color1);
  border-radius: 10px;
  outline: none;
  padding: 2%;

  width: 100%;
}
#list-selected-tag {
  border: solid 2px var(--color1);
  border-radius: 10px;
  padding: 2%;

  height: 70%;
  width: 100%;

  overflow: scroll;
  scrollbar-width: none;
}
#tag-list {
  position: absolute;

  display: none;
  align-items: center;

  top: 18%;

  text-align: center;
  font-weight: bold;

  border-radius: 10px;
  background-color: var(--color2-5);

  /* max-height: 50%; */
  width: 100%;

  overflow: scroll;
  scrollbar-width: none;
}
#tag-list > div {
  width: 100%;
  padding: 2% 0 2% 0;
}
#tag-list > div:hover {
  background-color: var(--color1-5);
  cursor: pointer;
}
#tag-list > div:active {
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}
#searchBar:focus + #tag-list,
#tag-list:hover,
#tag-list:active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1% 2% 1% 2%;

  font-size: 20px;
}
.tag > i:hover,
.bxs-x-circle:hover {
  color: var(--red);

  cursor: pointer;
}
.tag > i:active,
.bxs-x-circle:active {
  color: var(--red2);
}

.tag > .tag_title {
  width: 100%;
  max-width: 360px;
  text-align: center;

  overflow: scroll;
  scrollbar-width: none;

  font-weight: bold;
}
.tag > .tag_title:hover {
  text-decoration: underline;
}

input[type="submit"] {
  color: var(--color2);
  font-weight: bold;

  margin-top: 3%;
  padding: 3%;
  background-color: var(--green);
  border-radius: 10px;
  outline: none;
  border: none;

  font-size: 20px;

  transition: transform 0.2s;
}
input[type="submit"]:hover {
  background-color: var(--green2);
}
input[type="submit"]:active {
  transform: scale(0.7);
}

#question-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[disabled] {
  opacity: 0.5;
}
