:root {
  --color1: #000000;
  --color2: #b7b7b7;
  --color3: #f5f5f5;
  --green: #45a017;
}

body {
  background-color: var(--color3);

  font-family: "Roboto";
  color: var(--color1);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: start;

  height: 100vh;

  margin: auto;
}

/* Partie Menu  */

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1% 5% 1% 5%;

  font-weight: bold;

  border-bottom: 0.3px solid var(--color2);
  border-radius: 0% 0% 10% 10%;
  box-shadow: 0px 1px 30px var(--color2);
}

#menu > .logo {
  background-color: var(--color2);
  padding: 1%;
  border-radius: 5px;
}

#menu > .log {
  padding: 1%;
  border: solid var(--green);
  border-radius: 5px;
}

#menu > .log:hover {
  background-color: var(--green);
  color: var(--color3);
}

/* Partie choix du jeu */

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
}

.play-button {
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;

  width: 100%;
}
.play-button:hover {
  background-color: var(--color2);
}
